FileProcessor.Web/Connected Services/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50492/UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50492/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50492/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FileProcessor.UserService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFilteredUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetFilteredUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertData" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRecord" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetFilteredUsers" message="tns:IUserService_GetFilteredUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetFilteredUsersResponse" message="tns:IUserService_GetFilteredUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertData" message="tns:IUserService_InsertData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertDataResponse" message="tns:IUserService_InsertData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertRecord" message="tns:IUserService_InsertRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertRecordResponse" message="tns:IUserService_InsertRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetFilteredUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertData">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRecord">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:50492/UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>